
body {
	overflow-x: hidden; 
	background:url('../imagenes/dimension.png');
}
#contenido {
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 3px 20px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #e2e2e2;
	overflow: auto;
}
#cuadroIntroRegistrar {
	resize: vertical;
}
#barraLateral {
	margin-top: 20px;
	background-color: white;
	margin-left: 30px;
	border-radius: 5px;
	border: 1px solid #e2e2e2;
	overflow: auto;
	min-height: 600px;
}

#columnaContadores p {
	line-height: 35px;
}

#columnaCheck p {
	line-height: 33px;
}

#columnaCheck a {
	color: gray;
}
#columnaCheck a:hover {
	color: #428bca;
}
#columnaCheck a:active {
	color: #428bca;
}

#columnaCheck a.activo {
	color: #428bca;
}

.subtitulo {
	font-size: 20px;
	color: gray;
	font-style: italic;
}
.subtituloMini {
	font-size: 16px;
	color: #428bca;
	font-style: italic;
	display: block;
	margin-top: 5px;
}

.masSeparacionY {
	margin: 20px 0;
}

.medio {
	display: block;
	margin-top: 10%;
}

#nuevoExamen {
	overflow: auto;
	margin-bottom: 15px;
}

.medLogo {
	margin-top: 20%;
}

.medRight {
	margin-top: 3%;
	margin-left: 29%;
}